<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.css">
    <title>Inicio de sesion </title>
</head>
<body background="imagenes/123.jpg" height="100%"> 
    <section class="form-login"> 
       <h5>Inicio De sesion </h5>
       <input  class="controls"type="text" name="usuario" value="" placeholder="usuario">
       <input  class="controls"    type="password" name="contraseña" value="" placeholder="contraseña">
        <a href="blog.html"><input   class="buttons"type="submit" name="" value="ingresar " ></a>
       <p><a href="#"> ¿olvidastes tu contraseña ?</a></p>
       <p><a href="formulario.html"> <input  class=" buttons1 "type="submit" name="" value="registrate"></a></p>
        
    </section>
</body>
</html>