!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>formulario</title>
    <link rel="stylesheet" href=" {%stati/cssformulario.css%}">
 
</head>
<body background="imagenes/0000.jpg" height="100%">
    <section class="form-registro">
    
    <h3>Registrate </h3>
    <input class="controls" type="text" nome="nombre:"  id="nombre"placeholder="ingresa su Nombre">
    <input class="controls"type="text" nome="apellido" placeholder=" ingrese su Apellido">
    <input  class="controls" type="email" nome="correo" placeholder="ingrese su correos">
    <input  class="controls"  type="password" nome="contraseña" placeholder="ingrese su contraseña">
     <input type="file" name="imagen" />
    <p>estoy de acuerdo con <a href="#">terminos y condiciones </a></p>
    <p><a href="login.html"><input class="buttons" p  type="submit" nome ="" value="registrar"></a></p>
    <p><a href="login.html">  ¿ya tengo cuenta ?</a></p>
     

    </section>

    
    

    
</body>
</html>